@import "../../styles/variables.scss";
.main{
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: $--gap-large;
  align-items: center;
}
.container{
  display: flex;
  justify-content: center;
  max-width: 1440px;
  width: 100%;
  backdrop-filter: blur(20px);
  background: $--background-tranparent-main;
  box-shadow: $--box-shadow-default;
  border-radius: $--border-radius-default;
  padding: 16px;
}