@import "../../styles/variables.scss";
.main{
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: $--gap-large;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 150px);
  backdrop-filter: blur(20px);
  background: $--background-tranparent-main;
  box-shadow: $--box-shadow-default;
  border-radius: $--border-radius-default;
  padding: 16px 48px;
}