//fonts
$--font-family: "Inter", sans-serif;

//colors
$--main-character-color: #262626;
$--main-color: #69b1ff;
$--secondary-color: white;

$--background-tranparent-main: rgb(255, 255, 255, 0.1);
$--box-shadow-default:rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

$--border-radius-default: 10px;
$--border-radius-tiny: 4px;

$--gap-tiny: 4px;
$--gap-small: 8px;
$--gap-medium: 16px;
$--gap-large: 24px;
$--gap-xlarge: 32px;

$--spacing-tiny: 4px;
$--spacing-small: 8px;
$--spacing-medium: 16px;
$--spacing-large: 24px;
$--spacing-xlarge: 32px;

$--font-size-small: 12px;
$--font-size-default: 14px;
$--font-size-medium: 16px;
$--font-size-large: 24px;
$--font-size-xlarge: 32px;