@import "../../styles/variables.scss";
.list{
  min-height: calc(100vh - 180px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  :global{
    .ant-list-items{
      display: flex;
      flex-direction: column;
      gap: $--gap-small;
      .ant-list-item{
        padding: $--spacing-small;
      }
    }
    .ant-pagination .ant-pagination-item-active {
      background-color: transparent;
    }
  }
}