@import "../../styles/variables.scss";

.search{
  display: flex;
  width: 40%;
  max-width: 50%;
  :global{ 
    input,
    .ant-input-affix-wrapper,
    .ant-input-status-success,
    .ant-input-affix-wrapper:hover,
    .ant-input-outlined:hover,
    .ant-input-status-error,
    .ant-input-group-addon{
      background-color: $--background-tranparent-main;
    }
  }
}
@media(max-width:768px){
  .search{
    max-width: 100%;
    width: 100%;
  }
}
