@import "../../styles/variables.scss";
.main{
  display: flex;
  flex-direction: column;
  gap: $--gap-large;
  align-items: center;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: $--gap-medium;
  overflow: auto;
  height: calc(100vh - 230px);
}

.pagination{
  display: flex;
}
